/* ===== Desktop / Large Screens ===== */
@media (min-width: 900px) {

    /* Grid de templos en 3 columnas */
    .temples {
        grid-template-columns: repeat(3, 1fr);
    }
    .navigation {
		display: flex;
        justify-content: center;
	}
	.navigation li {
		display: block;
	}
	#hamburger {
		display: none;
	}

        /* Grid de templos en 3 columnas */
    .temples {
        grid-template-columns: repeat(3, 1fr);
    }

    
    h1 {
    padding-bottom: 0;
    }
}