/* ===== Desktop / Large Screens ===== */
@media (min-width: 768px) {

    /* Grid de templos en 3 columnas */
    .temples {
        grid-template-columns: repeat(3, 1fr);
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 40px;

    }

    .navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
	}
	.navigation a {
        text-align: center;
	}
	#hamburger {
		display: none;
	}

        /* Grid de templos en 3 columnas */
    .temples {
        grid-template-columns: repeat(3, 1fr);
    }
}